.Feedback {
    margin: 0;
    padding: 0.5em 1.25em;
    margin-top: .75rem;
    font-weight: bold;

    &:before {
        font-family: FontAwesome;
        margin-right: 0.5em;
    }
    
    &--friendlyWarning {
        background-color: $color-yellow-100;
        color: $color-yellow-900;

        &:before {
            content: "\f06a";
        }
    }
    &--info {
        background-color: $color-blue-100;
        color: $color-blue-700;

        &:before {
            content: "\f05a";
        }
    }
}
