.LoginManager {
    border: 2px solid $color-blue-900;
    border-radius: 4px;
    background-color: $color-background-unfocused;
    display: inline-flex;
    flex-direction: column;
    
    &:hover,
    &:focus-within,
    &.is-application-focused {
        background-color: $color-truewhite;
    }
}

#app {
    margin: 2rem;
}
