.Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid $color-blue-900;
    transition: background-color $transition-speed linear;

    &--hovered {
        // added via JS because we don't want to trigger this effect when children are hovered.
        background-color: $color-blue-100;
    }

    &-username {
        color: $color-blue-900;
        word-wrap: break-word; // the old spec ~10% browsers
        overflow-wrap: break-word; // the new spec ~85% browsers
        word-break: break-all; // standard value, but not ideal
        word-break: break-word; // unofficial value in webkit
        pointer-events: none;
        padding: .25em .5em .25em .75em;
    }

    &-buttons {
        display: flex;
        margin-left: .25em;
        align-self: stretch;
    }

    &-button {
    }

    &-edit {

    }

    &-delete {

    }
}
