$color-black: #050114;
$color-background-unfocused: hsl(45%, 31%, 97%);
$color-truewhite: #ffffff;

$variation: 20%;

$color-red-500: hsla(5%, 82%, 49%, 1);
$color-orange-500: hsla(32%, 82%, 49%, 1);
$color-yellow-500: hsla(58%, 82%, 43%, 1);
$color-green-500: hsla(153%, 84%, 38%, 1);
$color-blue-500: hsla(194%, 57%, 37%, 1);

$color-red-100: lighten($color-red-500, $variation * 2);
$color-red-300: lighten($color-red-500, $variation);
$color-red-700: darken($color-red-500, $variation / 2);
$color-red-900: darken($color-red-500, $variation);

$color-orange-100: lighten($color-orange-500, $variation * 2);
$color-orange-300: lighten($color-orange-500, $variation);
$color-orange-700: darken($color-orange-500, $variation / 2);
$color-orange-900: darken($color-orange-500, $variation);

$color-yellow-100: lighten($color-yellow-500, $variation * 2);
$color-yellow-300: lighten($color-yellow-500, $variation);
$color-yellow-700: darken($color-yellow-500, $variation / 2);
$color-yellow-900: darken($color-yellow-500, $variation);

$color-green-100: lighten($color-green-500, $variation * 2);
$color-green-300: lighten($color-green-500, $variation);
$color-green-700: darken($color-green-500, $variation / 2);
$color-green-900: darken($color-green-500, $variation);

$color-blue-100: lighten($color-blue-500, $variation * 2);
$color-blue-300: lighten($color-blue-500, $variation);
$color-blue-700: darken($color-blue-500, $variation / 2);
$color-blue-900: darken($color-blue-500, $variation);

//

$transition-speed: 150ms;
